#bg-parallax {
  min-height: 60% !important;
  position: relative !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@media only screen and (max-device-width: 1024px) {
  #bg-parallax {
    background-attachment: initial;
  }
}

#lightboxOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  z-index: 1400;
  background-color: rgba(0, 0, 0, .5);
}

#lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 1500;
}

html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: relative;
  height: 100vh;
  width: 100vw;
}

.product-bullet-icon-btn {
  color: #6c757d;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.product-bullet-delete-btn {
  color: #999;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.icon-select-modal-btn {
  border-color: transparent !important;
  margin-bottom: 0.5rem;
  /*border: 1px solid #ced4da;*/
}

.container-768 {
  max-width: 768px !important;
}

.btn-outline-info-white-bg {
  background-color: white;
}

:root {
  --privyr-gradient: linear-gradient(#68cafe, #d028fe);
  --privyr-gradient-rtl: linear-gradient(to right, #68cafe, #d028fe);
  --dark-blue: #016398;
  --off-white: #eee;
}

.fab-btn {
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: .5em 1em;
  border: none;
  background: linear-gradient(90deg, #1baefe, #d028fe);
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.4);
  transition: .3s;
  overflow: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

.elipsize-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body {
  background: lightgrey;
  font-family: Roboto, sans-serif;
}

.dashboard-container {
  height: -webkit-fill-available;
  max-width: 30em;
  margin: 0 auto;
  background: #fafafa;
  padding-bottom: 5em;

}

@media only screen and (max-width: 1200px) {
  .dashboard-container {
    max-width: 100%;
  }

  body {
    background: white;
  }
}

.header-title {
  font-weight: 400;
  font-size: 1.6em;
}

.mdl-layout__container {
  max-width: 30em;
}

.page-content {
  padding-bottom: 8em;
}

h1,
h2,
h3 {
  font-family: Quicksand, sans-serif !important;
}

span,
p,
textarea,
input,
h4,
h5,
h6 {
  font-family: Roboto, serif !important;
  font-weight: 300;
}

textarea,
input {
  font-family: Roboto, serif !important;
  font-weight: 400;
}

textarea,
input::placeholder {
  color: #999999;
  font-weight: 200;
}

textarea,
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: 200;
}

textarea,
input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999;
  font-weight: 200;
}

:root {
  --privyr-gradient: linear-gradient(#68cafe, #d028fe);
  --dark-blue: #016398;
  --off-white: #eee;
}

.cursor-pointer {
  cursor: pointer;
}

.wrapper {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f0f0f0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  /*color: #999;*/
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.dropdown-item {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.dropdown-sub-item {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
}

.body-container {
  margin-top: 7.5em;
}

.text-privyr-blue {
  color: var(--dark-blue);
}

.btn-privyr-blue {
  background: var(--dark-blue);
  color: white;
}

.btn-privyr-blue:hover {
  background: #01537f;
  color: white;
  cursor: pointer;
}

.bg-privyr-blue {
  background: #01537f;
}

.btn-outline-privyr-blue {
  color: var(--dark-blue);
  background-color: white;
  border-color: var(--dark-blue);
}

.btn-outline-privyr-blue:hover {
  color: white;
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.btn-outline-info-white-bg {
  background-color: white;
}

.btn-outline-info-white-bg:hover {
  background-color: #17a2b8;
}

.btn-outline-success-white-bg {
  background-color: white;
}

.btn-outline-success-white-bg:hover {
  background-color: #28a745;
}

.select-product-button {
  background: white;
  color: var(--dark-blue);
}

.select-product-button:hover {
  color: #01537f;
  cursor: pointer;
}

.product-detail-modal-wrapper {
  background: rgba(0, 0, 0, 0.7);
}

.modal-close-button-corner {
  position: absolute;
  right: 0;
  font-size: 2em;
  padding: 5px 10px !important;
  border-radius: 50%;
  background: rgba(0, 0, 0, .5) !important;
}

.modal {
  z-index: 1250;
}

.row-small-gutters {
  margin-right: -5px;
  margin-left: -5px;
}

.col-small-gutters {
  padding-right: 5px;
  padding-left: 5px;
}

:root {
  --purple: #6d7fcc;
  --dark-purple: #7386D5;
  --charcoal: #545454;
  --font-title: Quicksand, sans-serif;
  --font-text: Roboto, serif;
  --dark-blue: #016398;
  --side-bar-show-max-width: 1250px;
  --accent-green: #43b27a;
}

.alertify {
  z-index: 1400 !important;
  background-color: rgba(0, 0, 0, .7) !important;
}

.alertify .msg {
  color: black;
}

.alertify .ok {
  background: var(--dark-blue) !important;
  color: white !important;
  font-weight: 600;
  border-radius: 7%;
}

.card-columns {
  column-count: 2
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .card-columns {
    column-count: 2
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .card-columns {
    column-count: 3
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .card-columns {
    column-count: 3
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1300px) {
  .card-columns {
    column-count: 3
  }
}

.product-card-title {
  font-family: Quicksand, sans-serif !important;
  font-weight: 700;
  color: #545454;
  font-size: 1.2em;
}

.product-card-description {
  font-weight: 700;

}

.dashboard-action-bar-top {
  z-index: 1000;
  border-bottom: 1px solid #CCCCCC;
}

@media (min-width: 1250px) {
  .dashboard-action-bar-top {
    margin-left: 9.5em;
  }
}

.onboarding-tooltip>.tooltip-inner {
  background-color: var(--accent-green);
}

.onboarding-tooltip>.arrow::before {
  border-bottom-color: var(--accent-green);
}

.tooltip.show {
  opacity: 1;
}

.bg-privyr-blue {
  background-color: var(--dark-blue);
}

.text-privyr-blue {
  color: var(--dark-blue);
}

.bg-privyr-grey {
  background-color: #f8f9fa;
}

.carousel-image {
  height: 20em;
  max-height: 60vh;
  object-fit: cover;
}

.menu-item-primary-text {
  color: #666666;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3em;
}

.menu-item-secondary-text {
  color: #6c757d !important;
  /* text-secondary */
  font-size: 1.0em;
  line-height: 1.3em;
}

.menu-item-secondary-text-sm {
  color: #6c757d !important;
  /* text-secondary */
  font-size: 0.9em;
  line-height: 1.3em;
}

.menu-item-secondary-text-xsm {
  color: var(--secondary) !important;
  /* text-secondary */
  font-size: 0.8em;
  line-height: 1.3em;
}

.dashboard-header-navbar-link {
  color: #999999;
  font-size: 1.1em;
  padding-top: 15px;
  padding-bottom: 10px;
}

.dashboard-header-navbar-link:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.dashboard-header-navbar-link-active {
  font-weight: bold;
  color: var(--dark-blue) !important;
  border-bottom: 3px solid var(--dark-blue);
}

.fab-add {
  font-size: 1.1em;
  margin-left: auto;
  margin-right: 1em;
  bottom: 5.0em;
  border-radius: 1.3rem;
  width: 10em;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.modal-open {
  overflow-y: hidden;
}

.top-nav {
  height: 45px;
  line-height: 1.0em;
  border-bottom: 1px solid #DDDDDD;

  margin-top: 3.5em;

}

.privyr-main-tab {
  padding-top:
    3em
}

* {
  -webkit-overflow-scrolling: touch;
}

.cursor-pointer {
  cursor: pointer;
}

.feature-text-sm {
  font-size: 0.9em;
  color: #333;
  font-weight: 400;
}

.feature-text {
  color: #333;
  font-weight: 400;
}

.text-heading {
  font-weight: 600;
  font-size: 1.2em;
  color: #333;
  text-align: center;
}

.form-control {
  font-weight: 100 !important;
}
